@use '../common/function.scss' as func;

QCheckBox {

    &::indicator {
        width: calc($--spacing * 4);
        height: calc($--spacing * 4);
        border: 1px solid $--input;
        border-radius: 4px;

        &:unchecked {
            &:disabled {
                color: func.color-scale($--input, 50%);
            }
        }

        &:checked {
            border-color: $--primary;
            background-color: $--primary;
            image: $--checkbox-icon;

            &:disabled {
                border-color: func.color-scale($--primary, 50%);
                background-color: func.color-scale($--primary, 50%);
            }

            &:hover {
                border-color: func.color-scale($--primary, 20%);
                background-color: func.color-scale($--primary, 20%);
            }

            &:pressed {
                border-color: func.color-scale($--primary, 30%);
                background-color: func.color-scale($--primary, 30%);
            }
        }
    }
}