@use '../common/function.scss' as func;

QLineEdit {
    font-size: $--text-base;
    padding: $--spacing calc($--spacing * 3);
    border: 1px solid $--input;
    border-radius: calc($--radius - 2px);
    background-color: transparent;
    selection-color: $--primary-foreground;
    selection-background-color: $--primary;
    // lineedit-password-character: 42;

    &:disabled {
        border-color: func.color-scale($--input, 50%);
        selection-color: func.color-scale($--primary-foreground, 50%);
        selection-background-color: func.color-scale($--primary, 50%);
    }

    &:hover {
        border-color: func.color-scale($--ring, 20%);
    }

    &:focus {
        border-color: $--ring;
    }

    &[variant=flat] {
        border-color: transparent;
        border-radius: 0px;

        &:disabled {
            border-color: transparent;
            selection-color: transparent;
            selection-background-color: transparent;
        }

        &:focus {
            border-color: transparent;
        }
    }
}