@use 'sass:color';
@use '../common/function.scss' as func;

QPushButton {
    font-weight: $--font-weight-medium;
    font-size: $--text-sm;
    padding: calc($--spacing * 2) calc($--spacing * 4);
    border: 1px solid $--border;
    border-radius: calc($--radius - 2px);
    color: $--color-black;
    background-color: $--background;

    &:disabled {
        border-color: func.color-scale($--border, 50%);
    }

    &:hover {
        color: $--accent-foreground;
        background-color: $--accent;
    }

    &:pressed {
        color: func.color-scale($--accent-foreground, 30%);
        border-color: func.color-scale($--border, 30%);
        background-color: func.color-scale($--background, 30%);
    }

    &:default {
        border: 1px solid $--primary;
        color: $--primary-foreground;
        background-color: $--primary;

        &:disabled {
            color: func.color-scale($--primary-foreground, 50%);
            border-color: func.color-scale($--primary, 50%);
            background-color: func.color-scale($--primary, 50%);
        }

        &:hover {
            background-color: color.ie-hex-str(color.mix($--primary, transparent, $weight: 90%, $method: rgb));
        }

        &:pressed {
            color: func.color-scale($--primary-foreground, 30%);
            border-color: func.color-scale($--primary, 30%);
            background-color: func.color-scale($--primary, 30%);
        }
    }

    &:flat {
        border-width: 0px;
        color: $--color-black;
        background-color: transparent;

        &:hover {
            color: $--accent-foreground;
            background-color: $--accent;
        }

        &:pressed {
            color: func.color-scale($--accent-foreground, 30%);
            background-color: func.color-scale($--accent, 30%);
        }
    }

    &[variant=link] {
        border-width: 0px;
        border-radius: 0px;
        color: $--primary;
        background-color: transparent;

        &:hover {
            text-decoration: underline;
        }

        &:pressed {
            color: func.color-scale($--primary, 50%);
        }
    }

    &[variant=secondary] {
        border-width: 0px;
        color: $--secondary-foreground;
        background-color: $--secondary;

        &:disabled {
            color: func.color-scale($--secondary-foreground, 50%);
            background-color: func.color-scale($--secondary, 50%);
        }

        &:hover {
            color: func.color-scale($--secondary-foreground, 20%);
            background-color: func.color-scale($--secondary, 20%);
        }

        &:pressed {
            color: func.color-scale($--secondary-foreground, 30%);
            background-color: func.color-scale($--secondary, 30%);
        }
    }

    &[variant=destructive] {
        border-width: 0px;
        color: $--color-white;
        background-color: $--destructive;

        &:disabled {
            color: func.color-scale($--color-white, 50%);
            background-color: func.color-scale($--destructive, 50%);
        }

        &:hover {
            color: func.color-scale($--color-white, 20%);
            background-color: func.color-scale($--destructive, 20%);
        }

        &:pressed {
            color: func.color-scale($--color-white, 30%);
            background-color: func.color-scale($--destructive, 30%);
        }
    }
}